.card-container .ticket header h3 {
    display: inline-block;
    margin-right: 1em;
}

.card-container .attend-btn {
    background-color: var(--secondary-color-medium);
    color: white;
    padding: 0.5em 2em;
    font-weight: bold;
}

.card-container .attend-btn:hover {
    background-color: var(--secondary-color-medium-dark);
}

.card-container .attend-btn.active {
    background-color: var(--secondary-color-light);
}

.card-container #add-ticket {
    background-color: white;
    color: var(--secondary-color-medium);
    border-color: var(--secondary-color-medium);
    padding: 0.8em;
    font-weight: bold;
}

.card-container #add-ticket:hover {
    background-color: var(--secondary-color-medium);
    color: white;
}

.form-error {
    margin-top: 1em;
    color: var(--bootstrap-red);
}