@import "common.css";
@import "palette.css";

#page-card.card-container.event-card {
    padding: 2em;
}

.event-title {
    font-size: 2em;
    font-weight: bold;
}

a {
    color:inherit;
}

input#number-vouchers {
    font-size: 1.2em;
    padding: 0.5em;
    border-radius: 0.3em;
    border: 1px solid var(--color-grey);
    margin-bottom: 1em;
    min-width: 12em;
}