.card-container.notifications-container {
    position: relative;
    top: 7em;
    margin-bottom: 7em;
    padding-bottom: 1em;
}
    
.card-container.notifications-container header h1 {
    margin-bottom: 0.5em;
}

@media only screen and (max-width: 576px) {
    .card-container.notifications-container {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        top: 0;
        padding: 0;
        margin-bottom: 2em;
        border-radius: 0;
        background: transparent;    
    }

    .card-container.notifications-container header h1 {
        padding-left: 0.5em;
        padding-top: 0.5em;
        background-color: var(--primary-color);
        margin-bottom: 0;
    }
}