:root {
    --primary-color: #ff8e00;
    --primary-color-light: #ffb360;
    --primary-color-darker: #ca6f00;
    --primary-color-translucid: #ff88002e;
    --primary-color-dark-translucid: #ff88006b;
    --navbar-color: #172752;
    --secondary-color-dark: #121633;
    --secondary-color-medium-dark: #233d5e;
    --secondary-color-medium-dark-translucid: #087baf48;
    --secondary-color-medium: #346488;
    --secondary-color-medium-translucid: #03a9f41f;
    --secondary-color-light: #84B9D8;
    --color-grey: #ddd;
    --color-grey-light: #ededed;
    --color-grey-medium: #bbb;
    --color-grey-medium-dark: #a3a3a3;
    --color-grey-medium-darker: #949494;
    --color-grey-dark: #888;
    --color-grey-darker: #525252;
    --danger-red: #ee3333;
    --danger-red-dark: #992323;

    /* For use in forms to ensure consistency */
    --bootstrap-red: #dc3545;
    --bootstrap-green: #28a745;
}