@import "palette.css";
@import "common.css";

.card-container.admin-dashboard-container {
    position: relative;
    top: 7em;
    margin-bottom: 7em;
}

.admin-dashboard-container .separator hr {
    padding: 0;
    margin:0;
    margin-bottom: 1.5em;
    border-top-width: 2px;
}

button.card-container.admin-action {
    padding: 2em;
    text-align: center;
    cursor: pointer;
    height: 7.5em;
    border: none;
    border-radius: 0.25em;
    font-weight: bold;
    color: var(--secondary-color-medium-dark);
}

button.card-container.admin-action#delete-user-action {
    border-bottom: 4px solid #ad4949; 
}

button.card-container.admin-action#disable-event-action {
    border-bottom: 4px solid #9549ad; 
}

button.card-container.admin-action#user-issues-action {
    border-bottom: 4px solid #496cad; 
}

button.card-container.admin-action#admin-promotion-action {
    border-bottom: 4px solid #49ad6d; 
}

button.card-container.admin-action#re-enable-event-action {
    border-bottom: 4px solid #ad9d49;
}

button.card-container.admin-action:focus {
    outline: none;
}

.admin-actions > .row {
    margin-top: 3em;
}

.admin-dashboard-modal .modal-title.custom-modal-title {
    color: var(--secondary-color-medium-dark)
}

.admin-dashboard-modal .issue {
    border-left: 5px solid var(--primary-color);
    margin-bottom: 1em;
    text-align: justify;
    cursor: pointer;
}

.admin-dashboard-modal .issue:hover {
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
}

.admin-dashboard-modal .issue .content {
    padding: 0 1em;
}

.admin-dashboard-modal .issue .issue-description {
    padding-bottom: 0.5em;
}

.admin-dashboard-modal .issue .content header {
    margin-bottom: 0.5em;
}

.admin-dashboard-modal .issue .user {
    font-weight: bold;
    display: flex;
} 

.admin-dashboard-modal .searchbar-container {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.admin-dashboard-modal .searchbar-container i {
    font-size: 1.2em;
    color: var(--color-grey-darker);
}

.admin-dashboard-modal input.searchbar {
    border: 1px solid var(--color-grey-dark);
    font-size: 1em;
    padding: 0.2em 0.6em;
    width: 100%; 
    font-weight: 100;
    color: var(--secondary-color-dark);
}

.admin-dashboard-modal input.searchbar:focus {
    border-bottom: 1px solid var(--color-grey-dark);
}

.admin-dashboard-modal input.searchbar::placeholder {
    color: var(--color-grey-dark);
    font-weight: 100;
}

.admin-dashboard-modal input.searchbar:focus::placeholder {
    color: var(--color-grey-dark);
}

.admin-dashboard-modal .users-list .user {
    display: flex;
    margin: 1.5em 0;
}

.admin-dashboard-modal .users-list .user .user-name {
    font-weight: bold;
}

.admin-dashboard-modal .events-list .event {
    display: flex;
    margin: 1.5em 0;
}

.admin-dashboard-modal .events-list .event .event-name {
    font-weight: bold;
}

@media only screen and (max-width: 576px) {
    .card-container.admin-dashboard-container {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        top: 0;
        margin-bottom: 2em;
        border-radius: 0;
        padding: 0.8em 0.8em;
        background-color: transparent;
    }

    .card-container.admin-dashboard-container .separator hr {
        display: none;
    }

    .card-container.admin-dashboard-container header {
        margin-bottom: 4em;
    }

    .admin-actions > .row {
        margin-top: 0;
    }

    button.card-container.admin-action {
        height: 6em;
        margin-bottom: 2em;
    }

    button.card-container.admin-action#delete-user-action {
        border-bottom: none; 
        border-left: 4px solid #ad4949; 
    }
    
    button.card-container.admin-action#disable-event-action {
        border-bottom: none; 
        border-left: 4px solid #9549ad; 
    }
    
    button.card-container.admin-action#user-issues-action {
        border-bottom: none; 
        border-left: 4px solid #496cad; 
    }
    
    button.card-container.admin-action#admin-promotion-action {
        border-bottom: none; 
        border-left: 4px solid #49ad6d; 
    }
    
    button.card-container.admin-action#re-enable-event-action {
        border-bottom: none; 
        border-left: 4px solid #ad9d49;
    }
}