@import "palette.css";

.navbar {
    background-color: var(--navbar-color);
    position: sticky;
    top: 0;
    z-index: 2;
}

.navbar, .navbar a, .navbar button {
    color: white;
}

.navbar .navbar-toggler-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-nav.nav-highlighted .nav-item {
    transition: border 0.4s;
    border-bottom: 1px solid transparent;
}

.navbar .notifications-item {
    cursor: pointer;
}

.navbar .issues-item {
    cursor: pointer;
}

@media screen and (min-width: 992px) {
    /* Only adding the hover to >lg devices (equal to the configured collapse in the navbar) */
    .navbar-nav.nav-highlighted .nav-item:hover {
        border-color: white;
    }
}