@import "palette.css";
@import "common.css";

.card-container.admin-dashboard-container {
    position: relative;
    top: 7em;
    margin-bottom: 7em;
}

.admin-dashboard-container .separator hr {
    padding: 0;
    margin:0;
    margin-bottom: 1.5em;
    border-top-width: 2px;
}

button.card-container.admin-action {
    padding: 2em;
    text-align: center;
    cursor: pointer;
    height: 7.5em;
    border: none;
}

button.card-container.admin-action:focus {
    outline: none;
}

.admin-actions > .row {
    margin-top: 3em;
}
