@import "palette.css";
@import "common.css";

.card-container.admin-dashboard-container {
    position: relative;
    top: 7em;
    margin-bottom: 7em;
}

.admin-dashboard-container .separator hr {
    padding: 0;
    margin:0;
    margin-bottom: 1.5em;
    border-top-width: 2px;
}

button.card-container.admin-action {
    padding: 2em;
    text-align: center;
    cursor: pointer;
    height: 7.5em;
    border: none;
}

button.card-container.admin-action:focus {
    outline: none;
}

.admin-actions > .row {
    margin-top: 3em;
}

.issue {
    border-left: 5px solid var(--primary-color);
    margin-bottom: 1em;
    text-align: justify;
    cursor: pointer;
}

.issue:hover {
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
}

.issue .content {
    padding: 0 1em;
}

.issue .issue-description {
    padding-bottom: 0.5em;
}

.issue .content header {
    margin-bottom: 0.5em;
}

.issue .user {
    font-weight: bold;
    display: flex;
} 