.card-container.event-card {
    background-color: #ededed;
    position: relative;
    top: 7em;
}

.card-container .event-category {
    text-align: right;
} 

.message-area .nav-item {
    text-align: center;
}

.card-container .event-description {
    margin-top: 1em;
    margin-bottom: 1em;
} 

.card-container .nav-item, .card-container .nav-item:hover {
    border: 0;
    background-color: white;
    border-bottom: 3px solid #a1c8dd;
    border-radius: 0;
    color: #a1c8dd;
}

.card-container .nav-item.active, .card-container .nav-item.active:hover {
    border-color: #457295;
    color: #457295;
}

.card-container .nav-item.nav-link {
    width: 30%;
    transition: width .3s ease-in-out;
}

.card-container .nav-item.nav-link.active {
    width: 70%;
}

.announcement {
    background-color: white;
    padding: 2em;
    margin-top: 3em;
    width: 100%;
    display: flex;
    color: var(--secondary-color-medium);
}

.announcement .icon {
    width: 2em;
    font-size: 1.4em;
}
.announcement .content {
    flex-grow: 1;
}

.announcement .content .date {
    color: var(--secondary-color-light);
}

.add-announcement-btn {
    padding-left: 2em;
    margin-top: 2em;
}