@import "palette.css";
@import "common.css";

html {
    width: 100%;
    scroll-behavior:smooth;
}

body {
    font-family: 'Montserrat', cursive;
    color: white;
    background-color: var(--secondary-color-dark);
    width: 100%;
    overflow-x: hidden !important;
}

input, button:focus {
    outline: none;
}

a {
    color: inherit;
}

a:hover {
    color: inherit;
}

.row {
    margin-right: 0;
    margin-left: 0;
}


#banner-wrapper {
    height: 100vh;
    width: 100vw;
}

#banner-image-container > img, #banner-image-container {
    width:100%;
    height:100%;
    position: absolute;
    z-index: -5;
    object-fit: cover;
}

#banner-image-container > img:last-child {
    -webkit-mask-image: url(curve.svg);
    mask-image: url(curve.svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 300vw;
    mask-size: 100% 300vw;
    -webkit-mask-position: center 50%;
    mask-position: center 50%;
    filter: blur(0.1em);
}

#page-title {
    position: relative;
    top: 20vh;
    right: 5vw;
}

#page-title > .row {
    color:white;
}

#page-title > .row h1 {
    font-size: Calc(5vw + 5vh);
}

#page-title > .row h2 {
    font-size: Calc(1.5vw + 1.5vh);
}

#banner-down-arrow {
    position: absolute;
    width: 100%;
    bottom: 1em;
    text-align: center;
}

#banner-down-arrow * {
    margin: 0;
    font-size: 1.2em;
}

/*********** BANNER BUTTONS *********/

#banner-buttons {
    bottom: 15vh;
    position: absolute;
    width: 100%;
    padding: 0 5%;
}

#banner-buttons button {
    border-radius: 500px;
    font-size: 1.2em;
    width: 100%;
    height: 2.5em;
    margin: 0.5em 0;
    font-weight: bold;
}

#banner-buttons button.find-events {
    border: 0;
    background-color: var(--primary-color);
    color: white;
}

#banner-buttons button.host-event {
    border: 3px var(--primary-color) solid;
    background-color: transparent;
    color: var(--primary-color);
}

#banner-about-text {
    font-size: 1.15em;
    text-align: justify;
    padding: 2em 0;
    font-family: Raleway, sans-serif;
}

/************* SEARCH BOX ************/

#search-box {
    margin-top: 3em;
    margin-bottom: 5em;
    background-color: white;
    border-radius: 1.3em;
    border: 0;
    font-size: 1.5em;
    padding: 0.5em 1.5em;
    color: var(--secondary-color-dark);
}

#search-box input {
    height: 100%;
    width: 100%;
    border: 0;
    font-size: 1rem;
    display: inline-block;
    background-color: transparent;
}

#search-box > .row > * ~ * {
    border-left: 1px #ccc solid;
}

#search-box .search-field {
    font-size: 0.8em;
}

#search-box button.date {
    color: var(--primary-color);
    font-weight: 600;
}

#search-box .row > div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#search-box .dropdown {
    margin: 0em 1em;
}

#search-box i{
    padding: 0.5em;
}

@media only screen and (max-width: 992px) {
    #search-box  > .row > *:nth-child(2){
        border-left: 0;
    }
}


@media only screen and (max-width: 576px) {

    #search-box {
        margin: 2em 0.5em;
        width: Calc(100% - 1em);
    }

    #search-box  > .row >  * ~ * {
        border-left: 0;
        justify-content: start !important;
        padding-top: 0.7em;
        padding-left: 1em;
    }

    #search-box .dropdown {
        margin: 0;
    }

    #search-box > .row > div:first-child {
        background-color: var(--color-grey-light);
        border-radius: 1em;
        padding: 0 1em;
    }


}

/******* DROPDOWNS *******/

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}


.dropdown{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/********** EVENT CARD ***********/

.event-card {
    border-radius: 1em;
    margin-top: -1.5em;
    transition: transform 0.1s linear;
}

.event-card:hover {
    transform: scale(1.05);
}

@media only screen and (max-width: 576px) {
    .event-card {
        margin: 1em;
        width: Calc(100% - 2em);
    }

    .event-card:hover {
        transform: none;
    }
}

@media only screen and (min-width: 577px) {
    #banner-about-text {
        text-align: start;
    }
}


/************* WHITE-SECTION ***************/

.white-section {
    margin-top: 10em;
    padding: 6em 2em;
    background-color: white;
    color: var(--secondary-color-dark);
}

/************** NAV-BAR ******************/

#navbar {
    transition: transform 0.2s ease-in-out;
    transform-origin: 0% 0%;
}


/************* OTHER MEDIA QUERIES **************/

@media only screen and (max-width: 768px) {

    #page-title {
        top:10vh;
        right:0
    }

    #banner-image-container > img:last-child {
        height: 60%;
    }

    #page-title h1, #page-title h2 {
       text-align: center;
    }

    #banner-buttons {
        bottom: 10vh;
    }
    
}

/* fix mobile landscape - banner */
@media only screen and (max-height: 600px) {
    #banner-wrapper {
        height: 200vh;
    }

    #banner-image-container > img:last-child {
        height: 100%;
    }

    #banner-buttons {
        bottom: auto;
        top: 100vh;
    }

    @media only screen and (min-width: 800px) {
        #banner-image-container > img:first-child{
            height:auto;
            bottom: -20vh;
        }
    }
}

.about-title {
    font-weight: bold;
    color: var(--secondary-color-medium-dark);
}